body {
  font-family: Arial, sans-serif;
  background: #333;
  margin: 0;
  padding: 2rem;
}

.application-form {
  max-width: 900px;
  margin: auto;
  background: #fff;
  padding: 2rem 3rem;
  border-radius: 8px;
}

.application-form h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
  color:rgb(9, 9, 9);
}

section {
  margin-bottom: 2rem;
}

section label {
  display: block;
  margin-bottom: 0.8rem;
  font-weight: normal;
}

#line1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#line1 p {
  display: flex;
  flex-direction: column;
}

#line1 p span {
  font-size: 12px;
}

.box {
  display: flex;
  justify-content: space-between;
}

.box .subbox {
  width: 48%;
}

.box .subbox .part1 {
  width: 50%;
}

.details {
  display: flex;
  align-items: center;
}

.details.ip input {
  width: 100%;
}

.details.ip #para3 {
  width: 18.5%;
}

.details #part1 {
  width: 14%;
}

#line8 {
  gap: 10px;
}

.subpart {
  display: flex;
  gap: 10px;
}

.details {
  display: flex;
  align-items: center;
}

.details #para1 {
  width: 120px;
}

.details #para2 {
  width: 130px;
}

.details.ip .para4 {
  width: 35%;
}

.para4 span {
  display: block;
  font-size: 12px;
}

#area {
  width: 98.5%;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="email"],
textarea {
  margin-top: 0.4rem;
  width: 76%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 3px;
  font-size: 1rem;
  background: #d8d8d8;
}

textarea {
  width: 80%;
  height: 60px;
}

.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
  border: 1px solid #333;
}

.plan-grid #grid1 {
  border-right: 1px solid #333333;
  padding: 0 20px;
}

.plan-grid #grid2 {
  border-right: 1px solid #333;
}

.plan-grid .subpart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.plan-options {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
}

.plan-options label {
  background: #beedf1;
  padding: 1rem;
  border-radius: 8px;
  width: 45%;
}

.plan-options .highlight {
  color: #e90c0c;
  font-weight: bold;
}

.policy-details #payment {
  display: flex;
  align-items: center;
  gap: 20px;
}

.plan-options .box2 {
  margin: 10px 25px;
}

.para5 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms {
  background: #f7bdbd;
  padding: 2rem;
  border-radius: 10px;
  margin-top: 2rem;
}

.terms strong {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  display: block;
}
.terms #part1{
  display: flex;
  justify-content: center;
  gap: 15px;
}
.terms #part1 #subpart1{
  width: 50%;
}
.terms #part1 #subpart2{
  width: 50%;
}

button[type="submit"] {
  display: block;
  margin: 2rem auto 0 auto;
  padding: 0.7rem 2rem;
  font-size: 1.1rem;
  background: rgb(7, 7, 7);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}